name: Run tests on development

on:
  push:
    branches: [ development ]
  pull_request:
    branches: [ development ]

  # Allows you to run this workflow manually from the Actions tab
  #workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-20.04

    steps:
      - name: Git checkout
        uses: actions/checkout@v2

      - name: Download code
        run: git clone --branch add-bitcoin-component https://github.com/biteskola/descriptors-wallet-backend

      - name: Create env file
        run: |
          cd descriptors-wallet-backend/
          touch .env
          echo "ADMIN_EMAIL='root@email.com'" >> .env
          echo "ADMIN_PASS='passpass1'" >> .env
          echo "JWT_ACCESS_SECRET='myjwts3cr3t'" >> .env
          mkdir -p $HOME/.bitcoin
          cp ./config/bitcoin/bitcoin.regtest.conf $HOME/.bitcoin

      - name: Up test environment
        run: |
          cd descriptors-wallet-backend/
          docker network create back
          docker-compose up -d

      - name: Testing
        run: |
          cd descriptors-wallet-backend/
          docker exec descriptors-wallet_api npm run test
